<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forecast</title>
	
</head>
<body>   
<div class="container">
  <div id="landing">
  <div class="row"><div class="col-xs-offset-4"><%= image_tag "shop.png", :id => "soogo", :width => "45%" %></div></div>
  </div>
  <br>
  <div class="row">
     <div class="col-sm-offset-3 col-sm-6" id="searchdiv">
        <h1 class="text-center"> Get Hourly, Tomorrow and Weekly Forecast Here:</h2>
         <%= form_tag("/forecast", method: "get", class: "form-inline") do %> 
    
         <p class="form-group">
           <%= label_tag :Zip %>
           <%= text_field_tag :zip,  nil, class: "form-control", placeholder: "Enter Your Zip Code (e.g. : 10017, 90210 etc)" %>
         </p>
 
         <p class="form-group">
           <%= submit_tag 'Search', name: nil, class:"btn btn-primary" %>
         </p>
         <% end %>
      </div>
  </div>
	
 </body>
</html>
<%= image_tag "background10.jpg", :id => "bigimage", :class => "bigimage" %>


<!--<div class="container">		
	  <div class="row"><div class="col-xs-offset-4"><%= image_tag "shop.png", :id => "soogo", :width => "45%" %></div></div>
	 </div>-->